*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

.container{
  padding: 5%;
}
#profilePic{
    border-radius: 100%;
}

.stars{
    display: flex;
}

.sector{
  padding: 4%;
  margin-bottom: 3%;
  text-align: center;
  border: 1px double black;
}

.sector h1{
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 5%;
  margin-bottom: 5%;
}

.sector img{
  width: 80%;
}

.sector li{
  margin-bottom: 10%;
}
/*#projects li{
  margin-bottom: 15%;
}*/

#aboutme{
  padding: 10%;
  background: rgb(183, 207, 178);
}

#experience{
  background-color: rgba(214, 206, 206, 0.596);
}

.header{
  background: rgb(185, 178, 178);
}
